
body {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Playfair Display', serif;
}

/* Section MISSION */

.section-title {
  color: #00C980;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.back-missions {
  background-color:  #F2F2F2;
  border: 1px solid  #cacfd2;
  border-radius: 5px;
  padding: 10px;
}

.under-mission-category {
  margin-bottom: 50px;
}

.under-mission-category > h2 {
  text-align: center;
}

.pillars-container {
  text-align: center;
}

.first-little-box {
  width : 140px;
  height: 80px;
  border-bottom: 2px solid #00C980;
  border-right: 2px solid #00C980;
  border-radius: 4px;
  padding: 10px;
  padding-top: 10px;
  margin-bottom: 30px;
  display: inline-block;
  background-color: #FFF;
  text-align: center;
  -webkit-box-shadow: -10px -10px 0px 0px rgba(0,201,128,1);
  -moz-box-shadow: -10px -10px 0px 0px rgba(0,201,128,1);
  box-shadow: -10px -10px 0px 0px rgba(0,201,128,1);
}

.little-box {
  width : 140px;
  height: 80px;
  border-bottom: 2px solid #00C980;
  border-right: 2px solid #00C980;
  border-radius: 4px;
  padding: 10px;
  padding-top: 30px;
  margin: 15px;
  display: inline-block;
  background-color: #FFF;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor:pointer;
  -webkit-box-shadow: -10px -10px 0px 0px rgba(0,201,128,1);
  -moz-box-shadow: -10px -10px 0px 0px rgba(0,201,128,1);
  box-shadow: -10px -10px 0px 0px rgba(0,201,128,1);

}


/*
			---	CHALLENGE   ---
*/
#carousel-challenge{
	margin-top: 60px;
}

#challenge .carousel-indicators{
	position: absolute;
	left: 0;
	margin:0;
	height: 35px;
	top: -35px;
	bottom: auto;
	width: auto;
	text-align: left;
}

#challenge .carousel-indicators li{
	text-indent: 0;
	width: auto;
	height: auto;
	background-color: transparent;
	border: none;
}
